.click
{
    width: 50px;
    padding: 5px 10px;
    background: #952262;
    color: #fff;
    text-decoration: none;
}


#slideDiv
{
    height:0;
    margin-top: 20px;
    color: #fff;
    position: relative;
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
    
}

#slideDiv a
{
    position: absolute;
    right: 0;
    color: #fff;
    text-decoration: none;
    background-color:red;
}

#slideDiv:target
{
    height: 100%;
    background: green;
    color: #fff;
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;

}
img{float:left;}
img.hidden {display:none;}