*{
    margin:0px;
    padding:0px;
    font-family:verdana;}
header{
    margin:100px auto;
    width:800px;
    height:230px;
    background-color:red;}
div.contenedor{
    -webkit-transition: height .4s;
    width:200px;
    height:230px;
    float:left;}
div#uno{background-color: rgb(288,101,3);}
div#dos{background-color: rgb(233,147,26);}
div#tres{background-color: rgb(22,145,190);}
div#cuatro{background-color: rgb(22,107,162);}

img.icon{display:block;
margin:50px auto;
background-color: rgb(255,255,255,.15);
width:40px;
padding:20px;
-webkit-border-radius:50px;}

p.texto{
    font-size: 1.2em;
    color:white;
    text-align:center;
    padding-top:10px;
    opacity:.6;
}    

div.contenedor:hover{
    height:260px;
}